<div class="row">
  <div class="col">
    <form action="">
      <div class="row">
        <div class="col-7 form-group">
          <label for="">Name</label>
          <input 
            type="text" 
            class="form-control"
            #nameInput>
        </div>
        <div class="col-5 from-group">
          <label for="">Amount</label>
          <input 
            type="number" 
            class="form-control"
            #amountInput>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="btn-space">
          <button type="button" class="btn btn-success" (click)="onAddItem()">Add</button>
          <button type="button" class="btn btn-danger" (click)="onDeleteItem()">Delete</button>
          <button type="reset" class="btn btn-primary">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>